extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href="https://slack.com/oauth/authorize?&client_id=150754877572.168759199219&scope=bot,commands,team:read,chat:write:bot,chat:write:user,im:write")
    img(alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x")
  
